.idea/*
!.idea/vcs.xml
!.idea/codeStyleSettings.xml
!.idea/codeStyles/
*.iml
*.iws
*.ipr

target
out
.bloop

*.sjsir
*.class
*.diff
*.orig
*~
*.scss.cache
*.scssc
*.log
*.rdb
*.aof
*.pid

local.sbt
cluster
